.TodoList {
    width: 30%;
    margin: auto;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-0 {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 200px;
    border-radius: 10px;
    margin: 10px;
}

.list-1 {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 200px;
    border-radius: 10px;
    margin: 10px;
}

@media screen and (600px <= width <= 900px) {
    .TodoList { width: 75% }
}

@media screen and (width < 600px) {
    .TodoList { width: 98% }
}
