.Todo {
    padding-bottom: 10px;
}

.content {
    display: inline-flex;
    align-content: center;
    width: 79%;
    white-space: nowrap;
}

.todo-segment {
    background-color: white !important;
    padding: 1em !important;
    display: flex !important;
    height: 70px !important;
    justify-content: space-between !important;
    align-items: center !important;
    box-sizing: border-box !important;
}

.wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* kinda sussy but works for now */
.edit-input {
    font-size: 20px !important;
    padding-right: 10px !important;
    margin-left: -21px !important;
    margin-top: 3px !important;
}
